.about-us {
  @include page-grid;

  &__title {
    grid-column: 1 / 4;

    @include on-desctop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desctop {
      grid-column: span 6;
    }
  }

  &__des—Åription {
    margin: 0;
    font-size: 23px;
    line-height: 140%;

  }
}
